.button {
   border-radius: 8px;
   border: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   padding: 15px 65px 15px 65px;
   height: 48px;
}

.button:disabled {
   opacity: var(--main-opacity);
   pointer-events: none;  
}

.button_primary:hover {
   background: #2342C0;
}

.button_primary {
   background: #4263EB;
   color: #FFFFFF;
}

.button_secondary:hover {
   background: #5028C6;
}

.button_secondary {
   background: #7048E8;
   color: #FFFFFF;
}

.button_alternate:hover {
   border: 1px solid #000000;
}

.button_alternate {
   background: #FFFFFF;
   border: 1px solid #ACB5BD;
}