/* Стилизация аккордеона */
/* Стилизация аккордеона */
.acc__details {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.acc__details:last-child {
    margin-bottom: 0;
}

.acc__text {
    color: #495057;
    padding: 0px 32px 32px 32px;
}

.acc__title {
    display: block;
    padding: 24px 32px 24px 32px;
}

.acc__title:-webkit-details-marker {
    /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.acc__arrow {
    right: 32px;
    position: absolute;
}
