.hist {
    width: 300px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.hist__total {
    color: #212429;
    opacity: 0.8;
}

.hist__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hist__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 39px 29px 24px 26px;
}

.hist__view {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4263EB;
    padding: 19px 24px 0px 0px;
}

.hist__total {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
    opacity: 0.8;
    padding: 16px 0px 0px 24px;
}

.hist__numbers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #212429;
    padding: 6px 0px 0px 24px;
}

.hist__column-max {
    width: 9px;
    height: 50px;
    background: #4263EB;
}

.hist__column-mid {
    width: 9px;
    height: 25px;
    background: #4263EB;
}

.hist__column-min {
    width: 9px;
    height: 10px;
    background: #4263EB;
}