.skelet {
    display: flex;
    flex-direction: column;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
    box-sizing: border-box;
}

.skelet__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.skelet__rect {
    width: 100%;
    margin-top: 8px;
}

.skelet__bottom {
    padding: 24px 0px 0px 0px;
}

.skelet__round {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #DDE2E5;
    margin-right: 16px;
}

.skelet__line {
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);   
}

.skelet__line_min {
    width: 25%;   
}

.skelet__line_mid {
    width: 55%; 
    margin-top: 8px;  
}

.skelet__line_max {
    width: 100%; 
    margin-bottom: 8px;  
}

